<div class="container">
    <h2>List of Credentials</h2>
    <a class="btn btn-primary mb-3" href="/credentials/add">Add Credentials</a>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Account Id</th>
          <th>Api Secret</th>
          <th>Twilio Phone Number</th>
          <th>Personal Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let credential of credentials">
          <td>{{credential.accountId}}</td>
          <td>{{credential.apiSecret}}</td>
          <td>{{credential.virtualPhone}}</td>
          <td>{{credential.personalPhone}}</td>
          <td>
            <button (click)="editCredential(credential)" class="btn btn-success">Edit</button>
            <button (click)="deleteCredential(credential)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  