<div class="container">
    <h2>Add Credentials</h2>
  
    <form (submit)="addCredential()" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="accountId">Account Id:</label>
        <input type="text" class="form-control" id="accountId" [(ngModel)]="newCredentials.accountId" name="accountId" required>
      </div>
  
      <div class="form-group">
        <label for="apiSecret">Api Secret:</label>
        <input type="text" class="form-control" id="apiSecret" [(ngModel)]="newCredentials.apiSecret" name="apiSecret" required>
      </div>
  
      <div class="form-group">
        <label for="virtualPhone">Virtual Phone:</label>
        <input type="text" class="form-control" id="virtualPhone" [(ngModel)]="newCredentials.virtualPhone" name="virtualPhone">
      </div>
  
      <div class="form-group">
        <label for="personalPhone">Personal Phone:</label>
        <input type="text" class="form-control" id="personalPhone" [(ngModel)]="newCredentials.personalPhone" name="personalPhone">
      </div>
  
      <button type="submit" class="btn btn-primary">Add Credentials</button>
    </form>
  </div>
  