<h2>Delete Contact</h2>

<div class="modal-header">
    <h4 class="modal-title">Confirm Deletion</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete "{{contact.name}}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="cancelDelete()">No</button>
  </div>
  