<div class="container">
    <h2>Edit Credentials</h2>
  
    <form (submit)="updateCredentials()" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="accountId">Account Id:</label>
          <input type="text" class="form-control" id="accountId" [(ngModel)]="credential.accountId" name="accountId" required>
        </div>
    
        <div class="form-group">
          <label for="apiSecret">Api Secret:</label>
          <input type="text" class="form-control" id="apiSecret" [(ngModel)]="credential.apiSecret" name="apiSecret" required>
        </div>
    
        <div class="form-group">
          <label for="virtualPhone">Virtual Phone:</label>
          <input type="text" class="form-control" id="virtualPhone" [(ngModel)]="credential.virtualPhone" name="virtualPhone">
        </div>
    
        <div class="form-group">
          <label for="personalPhone">Personal Phone:</label>
          <input type="text" class="form-control" id="personalPhone" [(ngModel)]="credential.personalPhone" name="personalPhone">
        </div>
    
        <button type="submit" class="btn btn-primary">Update Credentials</button>
      </form>
  </div>
  